
img {
    width: 60px;
    border-radius: 50px;
}

#contact {
    background-color: #1662A3;
    padding: 4px;
    color: white;
    border: none;
    width: 50px;
    font-size: 10px;
    border-radius: 8px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-name {
    font-size: 20px;
}

.user-card {
    display: flex;
    justify-content: space-evenly; /*new. wrap in new div & change to space-evenly*/
    width: 70%;
}

audio {
    transform: scale(.7);
    }

.song-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 800px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
}

body {
    background-color: #fbfbfb;
}

.test-div {
    display: flex;
    background-color: #33ACFF;
    justify-content: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}